.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  background: none;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
}

.heading {
  color: var(--vscode-editor-foreground);
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #d6fedb,
    #a8f5c6,
    #7beab1,
    #4ddf9c,
    #7beab1,
    #a8f5c6,
    #d6fedb
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite, rotate 5s linear infinite,
    pulse 2s infinite;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.paragraph {
  color: var(--vscode-editor-foreground);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.4;
}

.button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
  transform: scale(1.05);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
